{% extends "MiniProjet/header.html"%}

{% block content %}
        
        <div class="container">
        
                <div class ="contact-form medium-padding120">
                        <form class="contact-form" method ="POST" action="/add_formation_form_submission/">
                                {% csrf_token %}
                                <div class="row">
                                        <div class ="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <input name="formation_name" class ="input-standard-grey" placeholder="name">
                                        </div>
                                        <div class ="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <input name="formation_CreatedDate" class ="input-standard-grey" placeholder="Date"
                                                        type="text">
                                        </div>
                                        <div class ="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <input name="formation_etat" class ="input-standard-grey" placeholder="Formation_etat"
                                                    type="text">
                                    </div>
                                </div>
                                <div class ="row">
                                        <div class ="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                        <textarea name="formation_detail" class="input-standard-grey"placeholder="details"></textarea>
                                         </div>
                                 </div>  

                                 <div class="row">
                                         <div class="submit-block table">
                                                 <div class="col-lg-3 table-cell">
                                                         <button class="btn btn-small btn--primary">
                                                                 <span class="text">Ajouter Formation</span>
                                                         </button>
                                                 </div>
                                                 <div class="col-lg-5 table-cell">
                                                         
                                                 </div>
                                         </div>
                                 </div>
                        </form>
                </div>
        </div>



{%endblock%}