<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
        {% load static %}
        <link type ="text/css" rel ="stylesheet" href ="{% static 'css/bootstrap.min.css' %}">
        <title>details formation</title>
    </head>
    <header class="header" id="site-header">
        <div class="container" >
             <div class="header-content-wrapper">
                 <a href ="#" id = "top-bar-js" class="top-bar-link">TOPBAR</a>
                 <div class="logo">
                     <a href="index.html" class="full-block -link"></a>
                     <div class="logo-text">
                        <div class="logo-title"> Info des Formations </div>
                     </div>
                 </div>
        </div>


        <ul class="primary-menu-menu">
                <li class="menu-item-has-children">
                        <a href="#">Afficher Formations</a>
                </li>
                <li class="">
                        <a href="add_formation">Ajouter Formations</a>
                </li>
        </ul>
    </header>
    {%block content%}
    {%endblock%}
</html>