{% extends 'MiniProjet/header.html' %}

{% block content %}

        <form method="get">
        {{ filter.form.as_p }}
        <button type="submit">Search</button>
      </form>
      <ul>
      {% for formation in filter.qs %}
        <li>{{ formation.formation_name }}</li>
        <li>{{ formation.formation_detail }}</li>
        <li>{{ formation.formation_etat }}</li>
        <li>{{ formation.formation_CreatedDate }}</li>
      {% endfor %}
      </ul>


        <div class="container info-boxes pt100 pb100">
        <p></p>
           <p >Liste des formations</p>
        {% for formation in Formations %}
                <p> Nom de la formation :  {{ formation.formation_name }}</p>
                <p> details de formation :  {{ formation.formation_detail }}</p>
                <p> etat :  {{ formation.formation_etat }}</p>
                <p> date de creation :  {{ formation.formation_CreatedDate }}</p>
        {% endfor %}
        </div>

{% endblock %}